.leaflet-container {
  height: 600px;
  width: 100%;
}
.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.static-map {
  width: 250px;
  height: 250px;
}
.leaflet-marker-icon :hover{
  width: 500px;
  height: 5000px;
}
.btnWrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.my-div-icon{
  width: 250px;
}